html {
    background: url("images/Background.jpg") no-repeat center center fixed;
    background-size:cover;
}

#mydiv {
    position: absolute;
    z-index: 9;
    background: none;
    text-align: center;
  }
  
  #mydivheader {
    cursor: move;
    z-index: 10;
    background: none ;
  }