html {
    background: url("images/Background.jpg") no-repeat center center fixed;
    background-size:cover;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: none;
  text-align: center;
}

#mydivheader {
  border-left:solid 8px white;
  cursor: move;
  z-index: 10;
  background-color: none;
  color: #fff;
}

.visualizer-container {
    position: absolute;

    bottom: 450px;
    right: 0;
    left: 0;

    text-align: center;
}

.visualizer-container__bar {

    display: inline-block;
    background: white;
    margin: 0 2px;
    width: 10px;

}