html {
    background: url("images/Background.jpg") no-repeat center center fixed;
    background-size:cover;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: none;
  text-align: center;
}

#mydivheader {
  border-left:solid 8px white;
  cursor: move;
  z-index: 10;
  background-color: none;
  color: #fff;
}
